@use "../abstracts" as *;

.login {
    position: relative;

    &__background {
        position: absolute;
        top: -10px;
        left: 0;
        height: 82vh;
        object-fit: cover;
        z-index: 0;
    }

    &__title {
        margin: 50% auto 0 auto;
        padding-bottom: 5rem;
    }

    &__container {
        width: 100%;
        background-color: $primary;
        border-radius: 50% 50% 0 0 / 20% 20% 0 0;
        position: relative;
        z-index: 1;
        margin-top: 1.5rem;
        height: 80vh;
        box-shadow: 0 4px 12px 0 #002027 inset;
    }

    &__input {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6rem;
    }
}