.phone-wrapper {
    position: relative;
    width: 390px;
    margin: 2rem auto;
    overflow: hidden;
}

.mobile-container {
    margin: auto;
    min-height: 700px;
    max-width: 360px;
    border-radius: 25px;
    background-color: deeppink;
    border: #000000 solid 8px;
}

.page-container {}