.phone-wrapper {
    position: relative;
    width: 390px;
    margin: 2rem auto;
    overflow: hidden;
}

.mobile-container {
    margin: auto;
    min-height: 668px;
    max-width: 360px;
    border-radius: 25px;
    border: #000000 solid 8px;
}

.page-container {
    margin: 1rem;

    &__phone-status {
        margin: 1rem auto;
        width: 75%;
    }
}