.phone-wrapper {
    position: relative;
    width: 296px;
    margin: 2rem auto;
}

.mobile-container {
    position: relative;
    z-index: 1;
    height: 640px;
    overflow-y: auto;
    background-color: deeppink;
    border-radius: 25px;
}

.mobile-frame {
    margin: auto;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    height: 104%;
    object-fit: fill;
    z-index: 10;
    pointer-events: none;
}