@use "../abstracts/colors" as *;

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 56px;
  border-radius: 12px;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin: 8px 6px;

  &--primary {
    background-color: $secondary;
    color: #000;
  }

  &--secondary {
    background-color: $primary;
    color: #fff;
  }

  &--outline {
    border: 2px solid $primary;
    color: $primary;
  }

  &--outlinewhite {
    border: 2px solid $white;
    color: $white;
  }
}