@use "../abstracts" as *;


.header {
    display: flex;
    align-items: center;
    margin: 3rem 1rem 1rem;

    &__button {
        flex: 1;

        &:hover {
            cursor: pointer;
        }

    }

    &__title {
        color: $primary;
        flex: 1;
        text-align: center;
        text-transform: uppercase;
    }

    &__spacer {
        flex: 1;
    }
}