.header {
    display: flex;
    align-items: center;
    margin: 1rem;

    &__button {
        flex: 1;
    }

    &__title {
        flex: 1;
        text-align: center;
        text-transform: uppercase;
    }

    &__spacer {
        flex: 1;
    }
}