@use "../abstracts" as *;
@use "../layout" as *;

.housecard {
    position: relative;
    margin: $spacing-sm auto $spacing-md auto;

    &__img {
        border-radius: 12px;
        max-height: 11rem;
    }

    &__title {
        position: absolute;
        padding: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;
        background-color: $white;
        border-radius: 12px;
    }
}