@use "../abstracts/colors" as *;

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  &__field {
    width: 100%;
    max-width: 300px;
    height: 56px;
    border-radius: 12px;
    background: $white;
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    &__icon {
      margin-right: 12px;
      font-size: 18px;
    }

    input {
      border: none;
      background: transparent;
      outline: none;
      width: 100%;
      font-size: 16px;
      color: $primary;
    }
    input::placeholder {
      color: $primary;
    }
  }
}
