@use "../abstracts" as *;
@use "../layout" as *;

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $spacing-md;

    &__imagecontainer {
        position: relative;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
    }

    &__change-img {
        height: 30px;
        width: 30px;
    }

    &__text {
        color: $primary-font;
    }

    &__text p {
        font-size: 12px;
        font-weight: 300;
    }
}