@use "../abstracts/colors" as *;

.progress {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  border-radius: 12px;
  padding: 5px;
  z-index: -2;
  overflow: hidden;
  


  h3 {
    text-align: center;
  }

  &__bar {
  position: relative;
  margin-top: auto;
  width: 90%;

  // overlay stays in flow to define the height
  &__overlay {
    display: block;
    position: relative;  // in flow = defines container height
    width: 100%;
    height: auto;
    z-index: 2;
  }

  &__fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    border-radius: 30px;
    background-color: $secondary;
    z-index: 1;  // behind overlay
    transition: width 0.75s;
  }
}

  &--with-button {
    padding-bottom: 25px;

    

    
  }
}

.house-enter-active,
.house-leave-active {
    transition: opacity 0.4s ease;
}

.house-enter-from,
.house-leave-to {
    opacity: 0;
}