@use "./colors" as *;

$font-primary: "Work Sans", sans-serif;

body {
    font-family: $font-primary;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: 500;
}

@mixin subheading {
    font-size: 16px;
    font-weight: 400;
    color: $subheading;
}

.subheading {
    @include subheading;
}